QDialog#LoginDialog, #RegisterDialog{
background-color:rgb(255,255,255)
}

#labelUserReg, #editPasswdReg{
    color:black;
}

#labelErrorTip[state='normal']{
    color: green;
}

#labelErrorTip[state='err']{
    color: red;
}
